.primary {
  color: var(--g-800, #166a37);
  border: 1px solid var(--g-200, #c0f2d4);
  background-color: var(--g-100, #eafbf1);
  width: 94px;
}

.secondary {
  color: var(--r-800, #700f0f);
  border: 1px solid var(--r-200, #f6bcbc);
  background: var(--r-100, #fce9e9);
  width: 66px;
}
